[submodule "Gaugi"]
	path = gaugi
  	url = https://github.com/jodafons/Gaugi.git
[submodule "External/monet"]
	path = external/monet
	url = https://github.com/jodafons/monet.git
[submodule "External/pytex"]
	path = external/pytex
	url = https://github.com/jodafons/pytex.git
